<title> <%= content_for(:title) {"Champion list"} %></title>
<h1>Это страница о чемпионах</h1>
<body>
<p><a href="/1">Александр Алёхин</a></p>
<p><a href="/2">Михаил Таль</a></p>
<p><a href="/3">Михаил Ботвинник</a></p>
</body>
