<h1>Это страница о чемпионах</h1>
<body>
  <div> Александр Алехин </div>
  <div> Годы чемпионства: 1927—1935, 1937—1946</div>
  <div> Годы жизни: 31 октября 1892 — 24 марта 1946</div>
  <%= image_tag 'alehin.jpg', height: '300px' %>
  <div> Михаил Таль </div>
  <div> Годы чемпионства: 1960—1961</div>
  <div> Годы жизни: 9 ноября 1936 — 28 июня 1992 </div>
  <%= image_tag 'tal.jpg', height: '300px' %>
  <div> Михаил Ботвинник </div>
  <div> Годы чемпионства: 1948—1957, 1958—1960, 1961—1963</div>
  <div> Годы жизни: 17 августа 1911 — 5 мая 1995</div>
  <%= image_tag 'botvinnik.jpg', height: '300px' %>
</body>