<title> <%= content_for(:title) {"home"} %></title>
<h1> Привет! Это главное меню моей страницы, также здесь отобажены правила игры в шахматы </h1>
<body>

<p>Перед игрой доска располагается так, чтобы в правом нижнем углу перед каждым из игроков находилось белое поле. Шахматные фигуры расставляются всегда одинаковым образом. Второй ряд (или горизонталь) занимают пешки. Ладьи стоят по углам, рядом с ними - кони, после коней - слоны, наконец, ферзь ставится на поле своего цвета (белый ферзь на белое, чёрный на чёрное), и король занимает оставшееся поле.


Каждая из 6 фигур ходит по-своему. Фигуры не могут перепрыгивать через другие фигуры (за исключением коня) или вставать на поле, где уже стоит фигура того же цвета. Однако, они могут встать на место фигуры противника, которая считается взятой. Фигуры обычно размещают так, чтобы они угрожали фигурам противника взятием (встать на поле, где стояла взятая фигура, заменив её), защищали свои собственные фигуры, которым грозит взятие, или контролировали важные поля на доске.


Король - самая важная фигура, но при этом и одна из самых слабых. Король может ходить только на одно поле в любом направлении: вверх, вниз, в стороны и по диагонали. Король никогда не может вставать на битое поле (где его может взять фигура соперника). Когда король атакован другой фигурой, это называется "шах".


Ферзь - самая сильная фигура. Он может ходить по прямой в любом направлении - вперёд, назад, в стороны или по диагонали на любое число полей, но при этом он не может перепрыгивать через другие фигуры. Если ферзь или любая другая фигура берёт фигуру соперника, ход заканчивается. Смотрите, как белый ферзь берёт чёрного, вынуждая чёрного короля сделать ход.


Ладья может ходить на любое число клеток, но только вперёд, назад и в стороны (не по диагонали). Ладьи особенно сильны, когда они защищают друг друга и действуют сообща!


Слон может ходить по прямой на любое число клеток, но лишь по диагонали. В течении игры каждый слон всегда ходит по клеткам одного и того же цвета (светлым или тёмным). Слоны хорошо действуют сообща, поскольку они прикрывают слабые стороны друг друга.


Кони ходят иначе, чем другие фигуры - на два поля в одном направлении и далее на одно поле под углом 90 градусов, буквой "Г". Конь - единственная фигура, которая может перепрыгивать через другие фигуры.


Пешка - необычная фигура, она ходит и берёт по-разному: ходить пешка может лишь вперёд, а брать - лишь по диагонали. Пешка может передвигаться только на одну клетку за один ход, кроме самого первого хода, когда она может сходить вперёд на одну или на две клетки. Пешка может брать только по диагонали на одну клетку перед собой. Пешка не может ходить или брать назад. Если другая фигура находится прямо перед пешкой, пешка не может сходить вперёд и не может взять эту фигуру.


В шахматах есть несколько особых правил, которые поначалу могут показаться нелогичными. Они были придуманы, чтобы сделать игру более весёлой и интересной.


У пешки есть одна замечательная особенность - если она доходит до противоположной стороны доски, она может стать любой другой фигурой (это называется "превращением пешки"). Пешка может превратиться в любую фигуру. Существует заблуждение, что пешка может превратиться лишь в одну из ранее взятых фигур. Это НЕ так. Как правило, пешку превращают в ферзя. Превращаться в другие фигуры могут только пешки.



Последнее правило, касающееся пешек, называется "взятие на проходе". Пешку, которая только что продвинулась на два поля в один ход от своей первоначальной позиции, может взять пешка соперника, занимающая поле на той же вертикали и на соседней горизонтали, как если бы последний ход взятой пешки был только на одно поле, которое она миновала. Такое взятие возможно только ходом, следующим за продвижением на два поля, и невозможно впоследствии. Изучите пример, чтобы лучше понять это необычное, но важное правило.


Ещё одно особое правило шахмат называется "рокировкой". Рокировка позволяет сделать две важные вещи за один ход: обезопасить (по возможности) вашего короля и вывести из угла ладью, включив её в игру. Совершая рокировку, игрок перемещает своего короля на два поля по направлению к ладье, затем эта ладья перемещается на поле, которое король только что пересек (смотрите пример). Рокировку можно выполнить только при соблюдении следующих условий:

до рокировки король ни разу не ходил,
до рокировки соответствующая ладья ни разу не ходила,
между королём и ладьёй не должно находиться других фигур,
король не может находиться под шахом или пересекать поле, атакованное фигурой противника.
Обратите внимание, что при рокировке на королевский фланг король оказывается ближе к краю доски. Этот ход называется "короткой рокировкой". Рокировка на другой фланг, через поле, где находился ферзь, называется "длинной рокировкой". Как при короткой, так и при длинной рокировке король передвигается только на два поля.


Игрок с белыми фигурами всегда ходит первым. Чтобы решить, кто будет играть белыми, игроки обычно подкидывают монету или один из игроков угадывает цвет пешки, спрятанной в руке соперника. Потом белые делают ход, далее чёрные делают ход, потом снова белые, потом чёрные и так далее по очереди до конца игры. Возможность ходить первым - это небольшое преимущество, которое даёт игроку возможность немедленно начать атаку.


У шахматной партии есть лишь два возможных исхода: мат или ничья.


Цель игры - поставить мат королю соперника. Мат происходит, когда король попадает под шах и не может от него уйти. Защититься от шаха можно тремя способами: отступить на другое поле (не рокировкой!), закрыться от шаха другой фигурой или взять фигуру, напавшую на короля. Если король не может избежать мата - партия завершена. Обычно короля не берут и не снимают с доски, партия просто объявляется законченной.


Иногда шахматная партия заканчивается не победой, а ничьей. Существует 5 причин, по которым игра может завершиться ничьей:

На доске возникает пат, если у игрока, который должен ходить, нет ни одного возможного хода, а его король не находится под шахом
Игроки могут просто согласиться на ничью и прекратить игру
На доске недостаточно фигур, чтобы поставить мат (например, король и слон против короля)
Игрок объявляет ничью, если одна и та же позиция на доске повторяется три раза (не обязательно три раза подряд).
  Последние 50 ходов были завершены каждым игроком без продвижения пешек и без взятий</p>
</body>